html, body {
	width: 100%;
	height: 100%;
	font-size: 20px;
}

.article-list{
	/*background-color: gray;*/

}

.article-item{
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	/*max-height: 150px;*/
}



.article-image{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	margin-left: 16px;
}

.article-image img{
	max-width: 250px;
	max-height: 155px;
	width: 100%;
	height: 100%;
}

.article-content{
	margin-left: 0px;
	display: block;
	/*max-height: 150px;*/
	width: 100%;
	height: 100%;
}

.article-content h1 h2 h3 h4 h5 p{
	display: block;
	width: 100%;
	height: 100%;
}

.line_red_100 {
	border-bottom: 1px rgba(0,0,0,0.1) solid;
}

.line_gray_100 {
	border-bottom: 1px rgba(0,0,0,0.1) solid;
}


/* 	Mobile	*/
@media only screen and (max-width: 740px) { 

}

@media only screen and (min-width: 750px) and (max-width: 1024px) { 

}