* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
}

.main {
    width: 100%;
    min-height: 100vh;
    max-width: 100%;
    margin: auto;
    padding-bottom:  20px;
    top: 48px;
}

.nav__pc{
	max-width: 1224px;
	width: 100%;
	margin-left: auto;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    /*background-color: rgba(255,255,255,0.5);*/
    /*background-color: rgba(33,150,243);*/
    /*background-image: linear-gradient(to right, rgba(33,150,243), rgba(115,180,255));*/
    /*background-image: linear-gradient(to right, #005C97 0%, #363795  51%, #005C97  100%);*/
    /*background-image: linear-gradient(to right, #141E30 0%, #243B55  51%, #141E30  100%);*/
    /*background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 86%, rgba(255,0,0,1) 100%);*/
    background-color: #1F1F1F;
    /*box-shadow: 0px 10px 10px rgba(238,238,238,0.9);*/
    box-shadow: 0px 1px 10px rgba(0,0,0,0.9);
    z-index: 1;
    position: fixed;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__pc ul{
	margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
}

.nav__logo {
    text-decoration: none;
    /*color: rgb(0,0,0);*/
    color: white;
    margin-right: 50px;
    height: 10px;
  	line-height: 10px;
  	white-space: nowrap;
  	font-size: 25px;
  	font-weight: bold;
  	/*border-right: 1px solid rgb(229,230,236);*/
  	/*padding: 10px;*/
  	/*border-radius: 5px;*/
  	/*background-color: rgba(240,240,240,0.5);*/
}

.nav__list a:hover{
}


.nav__link {
    text-decoration: none;
    /*color: #0666CA;*/
    /*color: white;*/
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
	/*border: 1px solid red;*/
	/*color: rgba(34,43,69, 0.8);*/
	color: white;
	padding: 5px;
  	/*border-radius: 3px;*/
  	/*background-color: rgba(240,240,240,0.5);*/
  	/*background-color: rgba(32,198,191,0.9);*/
}

.nav__link:hover{
	color: red;
}

.nav_button{
	white-space: nowrap;
	/*color: #0666CA;*/
	/*color: rgba(34,43,69, 0.9);*/
	color: white;
	display: none;
}

.nav__mobile{
	position: fixed;
	text-decoration: none;
	top: 48px;
	right: 0px;
	left: 0px;
	height: auto;
	max-height: 100%;
	/*background-color: rgba(238,238,238, 0.9);*/
	/*background-image: linear-gradient(to right, rgba(33,150,243), rgba(115,180,255));*/
	/*background-image: linear-gradient(to right, #005C97 0%, #363795  51%, #005C97  100%);*/
	background-color: #1F1F1F;
	transform: translateY(0%);
	z-index: 1;
	opacity: 0;
	display: none;
}

.nav__mobile__list{
}

.nav__mobile__list li {
	list-style: none;
}

.nav__mobile__link{
	text-decoration: none;
	/*color: #0666CA;*/
	/*color: rgba(34,43,69, 0.9);*/
	color: white;
	display: block;
	padding: 8px 0;
	font-size: 14px;
	font-weight: bold;

}

.nav__input:checked ~ .nav__mobile{
	opacity: 1;
	display: block;
}

.main .main_article{
	width: 700px;
	margin: auto;
	padding-top: 20px;
	position: relative;
	/*top: 100px;*/
}

.main_left{
	width: 0%;
	height: 100%;
	position: absolute;
	background-color: rgba(238,238,238);
}

.main_right{
	/*background-color: gray;*/
	width: 100%;
	right: 0;
	position: absolute;
}

.block_1{
	width: 90%;
	height: 350px;
	display: block;
	background-color: white;
	border-radius: 5px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	/*background: rgb(14,0,252);*/
	/*background: linear-gradient(90deg, rgba(14,0,252,1) 0%, rgba(0,0,236,1) 21%, rgba(0,211,254,1) 64%);*/
	/*background-image: linear-gradient(to right, #F00000 0%, #DC281E  51%, #F00000  100%);*/
	/*background-image: url("/images/banner1.PNG");*/
}

.article-item {
	display: flex;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 20px;
}

.article-image {
}

.article-title a{
	text-decoration: none;
	/*color: rgb(0,0,0);*/
	color: #1F1F1F;
}

.article-image img{
	border-radius: 5px;
}

.article-content {
	margin-left: 20px;
	width: 100%;
	margin-top: 0px;
}

.article-content h3{
}

.line_gray_100 {
	/*border-bottom:  1px rgba(0,0,0, 0.1) solid;*/
}

.article-title{
	margin-bottom: 10px;
}

.article-main_content{
	margin-bottom: 10px
}

.article-info{  
	/*border: 1px solid red;*/
	/*background-color: rgba(240,240,240,0.2);*/
	/*border-radius: 10px;*/
}

.article-avatar_img {
	width: 28px;
	height: 28px;
	border-radius: 100%;
	vertical-align: middle;
	border: 2px solid #0666CA;
}
.article-avatar_author{
	/*margin-right: 10px;*/

}

.article-info .article-avatar_author{
	color: rgba(0,0,0,0.8);
	font-weight: bold;
	/*color: #0666CA;*/
	/*color: #F40504;*/
}
.article-time{
	/*margin-right: 10px;*/
}
.post-category {
    text-transform: uppercase;
    color: #F40504;
    /*margin-right: 10px;*/
    font-size: 14px;
    /*background-color: #2BA5EA;*/
    /*background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);*/
    /*border: 1px solid red;*/
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
}

.article-title a:hover{
	/*color: #0666CA;*/
	color: #F40504;

}

.article-info a{
	text-decoration: none;
}

.main .main_article_detail {
	width: 660px;
	margin: auto;
	padding-top: 20px;
}

.article-category-info{
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}

.article-category{
	/*margin-right: 10px;*/
	/*background-color: red;*/
	font-size: 17px;
	text-decoration: none;;
}

.article-title-info {
	margin-top: 40px;
	margin-bottom: 40px;
	color: rgba(0,0,0,0.8);
}

.article-author-info{
	/*background-color: red;*/
	margin-top: 70px;
	margin-bottom: 40px;
	/*background-color: red;*/
}

.author-avatar {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	vertical-align: middle;
	margin-right: 10px;
	float: left;
	border: 2px solid #0666CA;
}

.article-author-info .article-category {
	color: #F40504;
    font-size: 17px;
}

.article-author-info a{
	text-decoration: none;
	/*color: #0666CA;*/
	color: rgba(0,0,0,0.8);
	font-size: 17px;
	font-weight: bold;
}

.article-author-info span{
	color: #888;
	font-size: 14px;
}

.article-detail-info p{
	font-size: 19px;
}
.article-detail-info img{
	margin-top: 20px;
	margin-bottom: 20px;	
}

.tag-detail {
	margin-top: 40px;
	margin-bottom: 40px;

}

.list-tags-detail {
	display: flex;
	list-style: none;
}

.tag-detail ul{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.item-tags-detail{

	margin-right: 10px;
	background-color: #E4E4E4;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}

.item-tags-detail a{
	text-decoration: none;
	color: rgba(0,0,0,0.6);
}

h3 {
    display: block;
    font-size: 24px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}

p {
    display: block;
    font-size: 18px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



@media only screen and (min-width: 741px) {
	.nav__mobile{
		display: none;
	}

	.nav__mobile__list {
		display: none;
	}
	

}

@media only screen and (max-width: 740px) {
	.nav_button{
		display: block;
		position: absolute;
        right: 20px;
	}	
	.nav__link{
		display: none;
	}

	.article-main_content {
		display: none;
	}

	.main_left {
		display: none;
	}
	.main_right {
		width: 100%;
	}
}

/*@media only screen and (max-width: 740px) {
	.article-main_content {
		display: none;
	}

}*/

@media only screen and (min-width: 741px) and (max-width: 1024px) {
	
}


